<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dev/Dux Todo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

  <body>
    <div id="todoApp">
      <h1>Let's get Todoing &trade;</h1>
      <ul class="todo-list">
        <todo-item
          v-for="item in todoList"
          v-bind:todo="item"
          v-bind:key="item.id"
          v-on:event_child="eventChild"
          v-on:complete_child ="toggleComplete"
        >
        </todo-item>
      </ul>
      <section class="input-section">
        <input type="text" v-model="newItem" />
        <input type="button" v-on:click="addToList" value="Add Item" />
      </section>
    </div>

    <script src="components/app.js"></script>
    <link rel="stylesheet" href="styles/main.css" />
  </body>
</html>
